@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,300;9..144,700&display=swap');

*{margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif}

header{
    height: 100px;
    width: 100%;
    background-color: #29220F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 150px;
    height: 150px;

}
.box{
    width: 310px;
    height: 230px;
    margin: 0;
    box-sizing: border-box;
    padding: 20px;
    color: white;
}
#box1{
    background-color: #29220F;
}
#box2{
    background-color:#1b170a;
}
#box3{
    background-color:#29220F;
}
ul{ /*lista*/
    display: flex;
    gap: 30px;
    list-style: none;
}
a{

    font-size: 15px;
    font-weight: 700;
    color: #ABD904;
    padding: 15px;
    color: #ABD904;
    text-decoration: none;
}
a:hover{
    background-color: #385907;
    transition: 1s;

}
#main_imagem{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-image: url(floresta.jpeg);
    background-size: cover;
    
}
#main{
    position: relative;
    width: 930px;

    text-align: left;
    padding-top: 60px;
}
#texto-main{
    width: 500px;
    height: 500px;
    color: white;
}
#GRUPAO{
    display: flex;
    position: absolute;
    bottom: 0;
    
}
h1{ 
    font-size: 80px;
    font-weight: 700;
}
p{
    font-size: 20px;
    text-align: justify;
}
.titulo-categoria{
    font-size: 21px;
    color: #ABD904;
}

.texto-categoria{
    font-size: 12px;
    font-weight: 100;
    line-height: 1.3;
    width: 100%;
    margin-top: 30px;
    display: flex;
}

.leia-mais{
    color: #fff;
    display: flex;
    width: 100%;
    border: #fff 1px solid;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-top:30px;
    text-decoration: none;
}
